aside:not(#signup_aside) {
  background-color: $verdeNewsletter;
  text-align: center; //texto centrado
  padding: 49.5px 0; //espacio vertical para con el contenido
  p {
    width: 460px; //anchura del texto aislado
    margin: 0 auto 20px; //distancia entre éste y el formulario

    color: white;
    font-size: 19.5px;
    line-height: 30px;
    font-weight: 300;
  }
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input {
  border: 1px solid $azulMedio;
  font-size: 16px;
}

.email {
  border-radius: $customRadius 0 0 $customRadius;
  padding: 0px 10px;
  width: 340px;
}

.submit {
  @extend %blueSquare;
  border-radius: 0 $customRadius $customRadius 0;
  cursor: pointer;
  @include transition(0.15s);
}

.submit:hover {
  background-color: $azulClaro;
  color: $azulOscuro;
  border-left: 1px solid $azulClaro;
  @include transition(0.15s);
}
