// Se da valor a las anchuras que definen el documento
$mainWidth: 1140px; //anchura principal para cuando la ventana es >=1920px
$mainWidth2: 960px; //anchura principal para cuando la ventana es <1920px y >600px
$col3Width: 356px; //la anchura de cada columna de haber 3 y ocupar entre las 3 la anchura principal definida con algún mainWidth
$col4Width: 256px; //la anchura de cada columna de haber 4 y ocupar entre las 4 la anchura principal definida con mainWidth
$col4Width2: 216px; //la anchura de cada columna de haber 4 y ocupar entre las 4 la anchura principal definida con mainWidth2
$customRadius: 4px; //radio de borde a aplicar sobre botones y semejantes

// Se definen los colores principales del documento
$azulOscuro: #19226d;
$azulMedio: #3672b3;
$azulClaro: #d9f2fc;
$verdeNewsletter: #1abc9c;
$grisMenu: #666;

// Se define bajo un conjunto de variables el flexbox más frecuente para evitar reiterar tanto código
%xflex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

// Semeja haber patrones comunes en el diseño de varios elementos, por lo que agruparlos puede ser conveniente de cara al diseño de nuevas páginas
%blueSquare {
  background: $azulMedio;
  color: white;
  border-radius: $customRadius;

  padding: 13.5px 0px;
  width: 110px;

  font-size: 15.5px;
  font-weight: 700;
}

// Mixin que otorga una animación a los cambios visuales a los que el elemento asociado está sujeto
@mixin transition($time: 0.075s) {
  transition: $time; /*animación de la duración especificada dada al asociar o reasociar al elemento las propiedades que lo definen*/
  -webkit-transition: $time; /*compatibilidad con versiones anteriores de Chrome y Safari*/
  -moz-transition: $time; /*compatibilidad con versiones anteriores de Firefox*/
  -o-transition: $time; /*compatibilidad con versiones anteriores de Opera*/
}

// Mixin que genera un sombreado visualmente vistoso sobre el texto asociado
@mixin coolShadow($color) {
  text-shadow: 1.5px 0 0 $color, -1.5px 0 0 $color, 0 1.5px 0 $color,
    0 -1.5px 0 $color, 0.75px 0.75px $color, -0.75px -0.75px 0 $color,
    0.75px -0.75px 0 $color, -0.75px 0.75px 0 $color;
}

// Mixin para realizar transformaciones de tamaño con garantía de compatibilidad
@mixin scale($ratio) {
  transform: scale(
    $ratio
  ); /*especifica la transformación a realizar sobre el elemento*/
  -webkit-transform: scale(
    $ratio
  ); /*compatibilidad con versiones anteriores de Chrome y Safari*/
  -moz-transform: scale(
    $ratio
  ); /*compatibilidad con versiones anteriores de Firefox*/
  -o-transform: scale(
    $ratio
  ); /*compatibilidad con versiones anteriores de Opera*/
}

// Propiedades globales
body {
  background-color: white; // Color de fondo global, aunque sólo aprovechado por el encabezado
  font-family: "Roboto", sans-serif; // Fuente de texto global
  margin: 0 auto; // Márgenes predeterminados para la totalidad del cuerpo a menos que otros sean especificado
  padding: 0; // Rellenos predeterminados para la totalidad del cuerpo a menos que otros sean especificado
  width: 100%; // El cuerpo abarca la totalidad de la anchura, principalmente para acomodar el resto de elementos apropiadamente
}

a {
  text-decoration: none; // Elimina el subrayado de los links
  @include transition();
}

ul {
  padding: 0; // Elimina los indent dados en listas
}

li {
  list-style: none; // Elimina las marcas propias de los elementos contenidos en listas
}

figure {
  margin: 0;
}
