#signup_main {
  figure {
    height: 500px;
    width: 100%;
    line-height: 500px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
  }

  img {
    width: 100%;
    height: 100.5%;
    position: relative;
    object-fit: cover;
    vertical-align: middle;
  }

  h2 {
    font-size: 26px;
    font-weight: 300;
    color: $azulOscuro;
    margin: 50px auto 25px;
    text-align: center;
  }

  form {
    display: flex; /*se asigna un diseño flexbox al elemento*/
    flex-direction: column; /*se distribuyen los elementos verticalmente*/
    width: 960px; /*anchura del formulario*/
    margin: 0 auto; /*los márgenes automáticos permiten, entre otras cosas, centrar el contenido*/

    > div {
      display: flex; /*se asigna un diseño flexbox al elemento*/
      flex-direction: row; /*se distribuyen los elementos horizontalmente*/
      justify-content: space-between; /*los elementos son distanciados unos de otros tanto como la anchura lo permite*/
    }
  }

  .form-submit {
    display: flex; /*se asigna un diseño flexbox al elemento*/
    flex-direction: column; /*se distribuyen los elementos verticalmente*/
    margin: 50px auto 70px;
  }

  input {
    margin: 5px auto;
    border-radius: $customRadius;
    padding: 0 10px;
    height: 45px;
    width: 250px;
    color: #555555;
  }

  input[type="submit"],
  input[type="button"] {
    @extend %blueSquare;
    width: 272px;
    @include transition(0.15s);
    cursor: pointer;
  }

  input[type="submit"]:hover,
  input[type="button"]:hover {
    background: $azulOscuro;
    border: 1px solid $azulOscuro;
    @include transition(0.15s);
    cursor: pointer;
  }

  ul {
    background-color: rgb(255, 250, 180);
    margin: 0;
    padding: 0;
    li {
      text-align: center;
      display: none;
      margin: 0;
      padding: 15px;
    }
    li:not(#correct) {
      border-top: 1px solid orange;
    }
  }
}

.form-group {
  display: flex; /*se asigna un diseño flexbox al elemento*/
  flex-direction: column; /*se distribuyen los elementos horizontalmente*/
}

.form-group:not(:first-child) {
  margin-top: 15px;
}

.form-error {
  label {
    color: red;
  }
  input {
    border-color: red;
    background-color: rgb(255, 200, 200);
    color: #555555;
  }
}

#correct {
  background-color: rgb(185, 255, 185);
  border-top: 1px solid green;
}

#signup_aside {
  background-color: $verdeNewsletter;
  padding: 20px 0 40px;

  display: flex; /*se asigna un diseño flexbox al elemento*/
  flex-direction: column; /*se distribuyen los elementos verticalmente*/

  h2 {
    margin-top: 0;
  }

  input {
    margin: 0 auto;
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  img {
    margin: 40px 15px 0px;
    display: none;
  }

  /*p {
    margin: 40px 0 -40px;
    background-color: rgb(255, 250, 180);
    display: none;
  }*/
}
