@import "global";
@import "header";
@import "nav";
@import "carousel";
@import "main";
@import "aside";
@import "footer";

// Media Query para anchuras menores que FullHD Fullscreen
@media only screen and (max-width: 1919px) {
  header,
  #webInfo,
  section:not(#webInfo),
  footer nav > ul,
  footer p {
    width: $mainWidth2;
  }

  section:not(#webInfo) figure,
  footer nav > ul > li {
    width: $col4Width2;
  }

  body > nav > ul {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    > li {
      width: 45%;
    }
  }

  .subnav {
    width: 30%;
    margin-left: 7.5%;
    ul {
      float: none;
    }
  }
}

// Media Query para anchura de ventana intermedia
@media only screen and (max-width: 1080px) {
  header {
    flex-direction: column;
    height: 112px;
    width: 80%;
    margin: 10px auto;
    figure {
      margin-top: 5px;
      margin-right: 20px;
    }
  }

  .fa-hamburger {
    display: block;
  }

  body > nav {
    background-color: $azulMedio;
    > ul {
      display: none;
      flex-direction: column; // Lista en vertical
      border-top: 1px solid white;

      > li {
        width: 100%;
        padding-left: 0;
      }

      > li:hover {
        background-color: $azulOscuro;
        a {
          color: $azulOscuro;
          @include coolShadow(white);
          font-weight: 700;
        }
        .subnav {
          display: none;
        }
      }
    }
    a {
      color: white;
    }
  }

  #toggle:checked + #menu {
    display: block;
  }

  .captionHolder {
    width: 65%;
    height: 160px;
    left: 17.5%;
  }

  #webInfo,
  footer nav > ul {
    flex-direction: column; //se reescribe luego para el footer, pero así la asignación de propiedades queda más limpia
    align-items: center;
    width: 80%;
  }

  /* Items de 2 en 2 */
  section:not(#webInfo) div,
  footer nav > ul {
    flex-direction: row;
    flex-wrap: wrap;
  }

  section:not(#webInfo) figure,
  footer nav > ul > li {
    width: 45%; /* Anchura de cada par de items */
  }

  section:not(#webInfo) {
    width: 80%; // Anchura de las secciones de productos

    // Selección de los dos últimos hijos
    figure:nth-last-child(-n + 2) {
      margin-top: 20px; // El margen separa a estos de los dos superiores
    }
  }

  footer {
    text-align: center;

    // Se centra el contenido final del documento
    p {
      width: 80%;
      margin: 0 auto;
    }
  }
}

// Media Query para anchura de ventana reducida
@media only screen and (max-width: 600px) {
  // Dado que el cuadro comenzaba a tapar la imagen, se ha optado por reposicionarlo y asignarle una pseudotransparencia jugando con gradientes
  .captionHolder {
    width: 60%;
    height: 260px;
    left: 20%;
    top: 110px;
    padding-top: 20px;

    background: none;
    background-image: linear-gradient(
      $azulOscuro,
      rgba(25, 34, 109, 0.95),
      rgba(25, 34, 109, 0.9),
      rgba(25, 34, 109, 0.85),
      rgba(25, 34, 109, 0.8),
      rgba(25, 34, 109, 0.7),
      rgba(25, 34, 109, 0.55),
      rgba(25, 34, 109, 0.4),
      rgba(25, 34, 109, 0)
    );

    border: 3px solid transparent;
    border-image: linear-gradient(to top, white, rgba(255, 255, 255, 0));
    border-image-slice: 1; /*permite dimensionar correctamente el gradiente recién definido*/

    h1 {
      line-height: 30px;
    }

    p {
      padding-top: 20px;
    }
  }

  section:not(#webInfo) {
    h2 {
      margin-top: 80px; // Se incrementa el margen en cuestión
    }

    // Selección de los tres últimos hijos
    figure:nth-last-child(-n + 3) {
      margin-top: 50px; // Dada la selección, el margen separa a los productos entre ellos
    }
  }

  section:not(#webInfo) div,
  footer nav > ul {
    flex-direction: column; // Listas en vertical
  }

  section:not(#webInfo) figure,
  footer nav > ul > li {
    width: 100%;
  }

  // Se asignan anchuras flexibles a los elementos de aside
  aside p {
    width: 80%;
  }
  .email {
    width: 50%;
  }
}
